<div class="container">
  <h2>Operacje na API</h2>
</div>

<input type="text" [(ngModel)]="inputValue" placeholder="Wpisz ID lub treść" />
<textarea
  name="Text1"
  cols="40"
  rows="5"
  [(ngModel)]="inputNewValue"
  placeholder="Podaj nowa treść..."
></textarea>

<div class="buttons">
  <button (click)="getPost()">WYSZUKAJ (GET)</button>
  <button (click)="createPost()">DOPISZ (POST)</button>
  <button (click)="deletePost()">USUŃ (DELETE)</button>

  <pre>{{ output }}</pre>
</div>
